version: "3"
services:
  authentication_issuer_1:
    image: jboss/keycloak:11.0.0
    ports:
      - "8180:8080"
    environment:
      - "KEYCLOAK_USER=admin"
      - "KEYCLOAK_PASSWORD=secure_password"
      - "KEYCLOAK_IMPORT=/tmp/MOEA-Web-Framework-realm.json"
    volumes:
      - ./MOEA-Web-Framework-realm.json:/tmp/MOEA-Web-Framework-realm.json
  authentication_issuer_2:
    image: jboss/keycloak:11.0.0
    ports:
      - "8280:8080"
    environment:
      - "KEYCLOAK_USER=admin"
      - "KEYCLOAK_PASSWORD=secure_password"
      - "KEYCLOAK_IMPORT=/tmp/MOEA-Web-Framework-realm.json"
    volumes:
      - ./MOEA-Web-Framework-realm.json:/tmp/MOEA-Web-Framework-realm.json
  cdn:
    image: cdn
    ports:
      - "8070:80"
    volumes:
      - ./content:/usr/content
